<div class="container-fluid text-center panel-body h-text-align-left">
<pre>
    Do Abs 3 Days  a week Upper/Lower/Sides

    1hr and 1 day rest in a week
    Chest + upper abs
    biceps + lower abs
    back + side abs
    legs + upper abs
    triceps+ lower abs
    shoulder+ side abs

    for 1hr 30min Every 4th day is rest.full sleep.
    For 3 months. Keeps changing exercise type.
    Exercise 1:
    Chest + Triceps + Upper Abs

    Exercise 2:
    Back + Biceps + Lower Abs

    Exercise 3:
    Legs + Shoulders + Side Abs

    Chest:

    Upper Abs:
    Cable crunches (muscular tension)
    Ab wheel rollouts (muscular tension)
    V ups (metabolic stress)
    weighted planks (metabolic stress)
    Lower Abs:
    Hanging leg rises

    Basic rules
    1. Exercises for bigger muscles should come before exercises for smaller muscles.
    2. Compound exercises should come before isolation exercises.
    3. Free weight/body weight exercises should come before machines.
    4. Most of the exercises do slowly with focus




    Chest+ Triceps-- Day1
    Shoulder + Abs-- Day 2
    Back+ Biceps-- Day 3

    Chest+Triceps --Day 4
    Abs + Legs-- Day 5
    Back+Biceps --Day 6

    Weekly thrice neck exercise
</pre>

    FOOD DIET<br>
    1.stop all drinks except water<br>
    2.no bread rice sugger<br>
    eat only carrots beetroots cucumber capsicum
    chicken breasts, fish,sweet potato,milk,dry fruits,spinach ,beans,dates,oats,meat without fat,wholegrain,cabbage,onion,jowar,eggs,grilled,boiled,roasted chicken,<br>
    3.walk everyday 1hr mrng nd eveng<br>
    4.weight training deadlift pressing<br>

    limited processed food<br>
    walk as tall as u r<br>
    sit on knees nd put hands back nd 20  breaths<br>
    more running<br>
    20min keep heart rate up<br>
    lift weights then do abs<br>
    5 hrs after food .. fasted time<br>
    don't break muscle tissues to burn fat(how)<br>
<pre>
    Diet Plan

    FRUITS
    Apple
    Oranges
    Grapes
    Papaya
    Pine apple
    Water melon
    Pomegranates

    VEGGIES
    Tomatos
    Carrot
    Beet root
    Capsicum
    Cauliflower
    Cucumber
    Soya chunks
    Green leafs

    DRY FRUITS
    Dates
    Dry grapes (kismis)
    Almonds

    OTHERS
    Brown Rice
    Wheat floor
    Raagi malt
    Oats
    Plain curd

    BEVERAGES
    Green Tea (no lemon flavor )
    Lime juice with out sugar
    Toned milk

    NON VEG
    Egg whites
    Grilled chicken
    Roasted Fish with out oil

    NUTS
    Boiled Corn with salt
    Boiled peas
    Sprouts

    Any juice with out ice and with out sugar
    no potato, no white rice, no mango , no banana
    stay away from all type of beans
    Try avoid processed food as much as u can
    Completely avoid tea coffee
    Honey instead of sugar
    Lot of water


    http://www.myhealthtips.in/2014/08/indian-diet-plan-to-lose-weight.html



    BREAK FAST
    broken wheat upma
    idli
    oats with milk/water + honey
    Raagi malt
    toned milk
    </pre>
</div>