<div class="container-fluid text-center panel-body h-text-align-left">
    <h2>Few random images</h2>

    <img class="col-lg-12 col-md-12 col-sm-12 h-standardMarginTop h-standardMarginBottom" src="app/assets/images/spider_man.jpg" alt="My all time favourite - spider man" title="My all time favourite - spider man"/>
    <span class="h-text-md">My all time favourite - spider man</span>
    <img class="col-lg-12 col-md-12 col-sm-12 h-standardMarginTop h-standardMarginBottom" src="app/assets/images/track_time.jpg" alt="track time" title="track time"/>

</div>