<div class="container-fluid text-center">
    <h1>Welcome to USK's blog</h1>
    <div class="row content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left h-text-md">

            <p>Here you can find interesting pages on various things like technologies, tips, fitness and gallery etc. </p>
            <cite class="h-text-md">This blog is still under development.</cite>
            <hr>
        </div>
    </div>
</div>
