<div class="container-fluid text-center panel-body h-text-align-left">
    1. Why header files? can we import .m file also?<br>
    2. Compiler converts from which to which format? and name of compiler?<br>
    3. is Objective-C a procedural? what is procedural language? and what r other types of prog langs?<br>
    4. Do you know user interactive components like button,textfields,dropdown, radio,scroll view etc?How they work?<br>
    5. What do u know bat ARC?<br>
    6. Do you know evolution of iOS,apple? and what are latest in iOS like version feature ,problems etc?<br>
    7. What happens to log messages in production build?<br>
    8. Can you write/readout syntax of a block?<br>
    9. Debugging tips?How to see crash stack report from Xcode?<br>
    10. How to support multi screens.know differnet devices and resolutions<br>
    11. What are different storages we use in iOS ,How to access database?<br>
    12. Should class name of header file and file name must be same? what about .m file? what about multiple classes?<br>
    13. What is alloc,malloc,calloc,realloc,free ?<br>
    14. Do you how to write unit test cases for an iOS app? any automation process about iOS app?<br>
    15. Hav u encoutered memory issue while developing app and how u fixed.<br>
    16. Explain about app/view life cycle<br>
    17. What happens if delegate method called but not implemented in listener class?<br>
    18. Supporting audio file formats?<br>
    19. What is forward declaration of class and why?<br>
    20. Storyboards uses which language?<br>
    21. what is isa,id?<br>
    22. How do u support localization?<br>
    23. How many types of libraries we have ?diff bw static lib and dynamic lib?<br>
    24. Do you know about pod files?<br>
    25. What is dSYM file job?<br>
    26. LLVM stands for?<br>
    27. What is code signing?<br>
    28. Dynamic Lib ,Static Lib, Bundle, Relocatable Obj file?<br>
    29. How to lock orientation?<br>
    30. Diff bw category and subclass<br>
    cat - can only add new methods to existing class , can’t add properties or variables<br>
    31. Diff bw variable and property<br>
    prop are declare+synthasize auto handle for memory management<br>
    32. what is .ivar  -internal variable like _varialbe inside get ,setter methods<br>
    33. Can you write syntax for custom protocol?<br>
    34. How to type case string to int?<br>
    35. diff bw id(instance of any class) and instancetype( definitely receiving an instance of the same class or subclass of the class)?<br>
    36. How can I access single keychain login info for two apps in device.?ans by giving same app seed id to both apps.<br>
    37. Split view ,picture in picture,3d touch (Peek and Pop), iPad pro, wallet, Slide Over?<br>
    38. File Template library, code snippet library, object library,Media library in Xcode?<br>
    39. Reflection to show iPad screen on desktop?<br>
    40. What is anonymous categories (i.e extensions) and diff bw subclass,category,extensions and protocol?<br>
    41. Extended instance variable are private or public?<br>
    42. Accessors for atomic properties must both be either generated or user-defined?<br>
    43. Do we have access specifiers in iOS, if yes then how do they work?What is default?<br>
    44. @dynamic tells to compiler implementation is some where else in super classes<br>
    45. Terminal command to Generat .pem file from exported .p12. APNs<br>
    46. Ways to declare global constants and types of constants?<br>
    47. Have you worked with UIWebView and how to call js methods and vice versa?<br>
    48. How touch propagate works in iOS?<br>
    49. Diff bw release and auto release , copy and retain?<br>
    50. wt is memory leak?non released with zero ref count<br>
    51. dangling pointer leads to invalid memory address,undefined,call release two times<br>
    52. dynamic memory and static memory<br>
    53. extern keyword say to runtime that obj definition is somewhere external.means not in same file.which gives linking error<br>
    54. static allocates memory at compile time. Compilation errors<br>
    55. calloc initializes all bytes in the allocation block to zero. allocates memory in runtime<br>
    56. malloc initializes all bytes in the allocation block to undefined. allocates memory in compile time<br>
    57.stack memory - fast,local variable only,no resize<br>
    58. heap memory - slow,global,resize<br>
    59. What is DRY principle<br>
    60. //Create 500 bytes on the stack char buffer[500]; //Create 500 bytes on the heap     pBuffer = new char[500];<br>
    61. wt is stack over flow<br>
    62. How strong reference ,week reference works<br>
    63. Have u worked on web services ? what do u know about RESTful services, SOAP services.<br>
    64. Diff bw get,post methods<br>
    65. How iOS file storage works.is there any public space for all apps? how to access it?<br>
    66. How do u achieve caching of images to long scrolls in shopping apps?<br>
    67. Learn about cocoa frameworks?<br>
    68. Have you worked on animations? Which library u have used?<br>
    69. How do achieve log running background tasks in iOS?<br>
    70. How do you support multiple screens?<br>
    71. Tell few resolutions of apple devices?<br>
    72. Do you how to integrate crash reporters and third party frameworks like twitter, Facebook?<br>
    73. What are the sensors you know in apple devices?<br>
    74. Do you know swift ? Have you tried working on it? anything intersting u found on it?<br>
    75. Did you work on maps?<br>
    76. Explain Encapsulation, polymorphism, inheritance ?<br>
    77. Do you about apple watch?<br>
    78. Explain flow of app store submission process?<br>
    79. Do you any versioning tool like git,svn,bit bucket?<br>
    80. Do you answer stack overflow questions?<br>
    81. How to terminate for loop with out keywords?<br>
    82. How GCD works? What is it?<br>
    83. Simulator vs emulator?<br>
    84. diff bw CGFloat and float?<br>
    85. what is key value coding? and KVO?<br>
    86. xml vs json?<br>
    87. get vs post?<br>
    88. Do you know any lldb commands?<br>
    89. MIME stands for? Multipurpose Internet Mail extensions<br>
    90. JPEG - joint photograph expert group? Portable Network Graphics<br>
    91. json - java script object notation<br>
    92. xml extended markup language<br>
    94. GCC- GNU Compiler Collection<br>
    95. GDB - GCC Debugger<br>
    96. LLVM - Low Level Virtual Machine<br>
    97. What is kernel ? The program in a Unix-like system that allocates machine resources and talks to the hardware is called the “kernel”.<br>
    98. Default values for If you don’t initialize NSString ,NSInteger,int,CGFloat ?<br>
    99. Projects you worked followed which methodologies?<br>
    100. NULL = (void*)0 ,Nil = (class)0, nil = (id)0<br>
    101. diiffenec bw deprecated and obsolete ?<br>
    102. How to write conditional importing? yes by using preprocessors Conditional compilation.<br>
    103. compilation of Objective-C programs from source code to executable binary is a three phase process<br>
    phase 1 : a tool called the preprocessor scans the human written source code and converts it to compiler friendly content and format<br>

    phase 2 : In the second phase the compiler generates object code (usually in the form of file with a .o filename extension) from the preprocessed source code<br>

    phase 3 : Finally, the linker brings all the object code modules and libraries together, resolves symbol references and creates the executable binary.<br>

    104. How to communicate bw apps on same device and other devices?<br>
    105. What is the difference between NS_ENUM and NS_OPTIONS?<br>
    106. Super class of AppDelegate class is UIResponder<br>
    107. makeKeyAndVisible method does what?<br>
    108. Dynamic library vs static library (static framework  is compiled .a file ,static library is subproject)<br>
    These are the only things I am aware of as of now . Will add here If I find something else<br>

    109. 4 Tablets<br>
    110. How would you fill out exact 4 liters in a Can of 5 liters and another Can of 3 liters, with unlimited supply of water?”<br>
    111. what is the angle between the hour hand and minute hand in between 2:20<br>
    112. What is agile ?<br>
    http://www.tutorialspoint.com/sdlc/sdlc_agile_model.htm<br>
    http://www.agilenutshell.com/<br>

    113. What is SDLC?<br>
    114. Sort two numbers without using temp<br>
    115. a*b = b*a commutative principle<br>
    116. perfect squares will have odd no of factors (ex 1,4,9,16 (factors for 16 – 1,2,4,8,16)<br>
    117. 8 chocolates 7 equal weight = no of iterations to find the odd one(best and worst case)<br>
    118. 25 horses problem<br>
    119. elephant weight prblm.1kg = 2.2 pounds<br>
    120. Http / Https <br>
    121. Can you write logic for palindrome (121)<br>
    122. Fibonacci (1,1,2,3,5,8,13….)<br>
    123. Error vs Exception (java.lang.OutOfMemoryError, Java.lang.NoClassDefFoundError, java.lang.UnSupportedClassVersionError  FileNotFoundException,ArrayIndexOutOfBoundsException , NullPointerException<br>
    Error is not meant to catch .  Error are often fatal in nature and recovery from Error is not possible.<br>
    124. Syntax for enum<br>
    125. How can we stop UITableView to create new UITableViewCell on the time of scrolling?<br>
    126. Explain about strong ,weak reference on board<br>
    127. NSPointerArray *weakRefArray = [[NSPointerArray alloc] initWithOptions: NSPointerFunctionsWeakMemory];<br>
    since NSArray normally stores a strong reference to its members.<br>
    128. Steps to do memory profiling?<br>
    129 [[NSOperationQueue mainQueue] addOperationWithBlock:^{         self.alert.text = @"Thanks!";     }];<br>
    main thread to update UI related stuff<br>
    130. What is the order of gcd operations and operation queues<br>
    131. How to requests extra execution time ?  beginBackgroundTaskWithExpirationHandler<br>
    http://stackoverflow.com/questions/11044095/ios-keep-an-app-running-like-a-service<br>
    132. Interapp communication/ url schemas<br>
    https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html<br>
    133. What method will be executed when local/remote notification hit your device for a specific app.<br>
    https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/index.html<br>
    134. Code for convert string to integer , vice versa<br>
    135. if ([UIImagePickerController isSourceTypeAvailable: UIImagePickerControllerSourceTypeCamera])    // Has camera<br>

    136. Data persistence and sand boxing http://code.tutsplus.com/tutorials/data-persistence-and-sandboxing-on-ios--mobile-14078<br>
    Documents directory  = user data<br>
    Library directory = app data (cache,preferences(.plist)<br>
    Tmp directory =<br>

    SQLite is portable = server less<br>
    SQLite and Objective-C -Object Relational Mapping (ORM) solution is Core Data<br>
    136. What is core data<br>
    137. How do you try to solve one technical issue /bug<br>
    138. What is signature of a method?<br>
<pre>
    •	Who (Certificates – has the app been signed with a private key, which has a corresponding public key in the provisioning profile. The certificate also associates the developer with a development team)<br>
    •	What (Individual App ID – Does the Bundle Identifier set in your Info.plist match the App ID in the provisioning profile?)<br>
    •	Where (Devices – Is the device contained in the provisioning profile?)
    </pre>
    https://developer.xamarin.com/guides/ios/getting_started/installation/device_provisioning/#Provisioning_for_Application_Services<br>
    <pre>
    iCloud Storage, which includes three types of storage:
    •	key-value storage
    •	document storage
    •	Core Data storage.
        </pre>
    139. What is Lazy Loading<br>

    140 life cycle of UIViewController : viewDidLoad, viewWillAppear, viewDidAppear, viewWillDisappear, viewDidDisappear<br>
    141. life cycle of UIView : awakeFromNib, willMoveToSuperView, didMoveToSuperView<br>
    http://chrisrisner.com/categories<br>
    willRotateToInterfaceOrientation  UIInterfaceOrientationLandscapeLeft<br>
    142. What do u know about app thinning?<br>
    143. What is app store slicing operation? On downloading app from app store , End users get just the resources needed for their device<br>
    144. What is On-demand resources? additional content for the app on the iTunes App Store repository.<br>
    145. What is Energy gauge for iOS ?<br>
    146. Read-eval-print loop (REPL) in LLDB. Xcode 6<br>
    147. View debugging ?<br>
    148. iOS developers can now create dynamic frameworks from xcode 6<br>

    https://developer.apple.com/library/ios/documentation/DeveloperTools/Conceptual/WhatsNewXcode/Articles/xcode_7_0.html<br>

    149. iOS  Stack views<br>
    150. What is beta period of test flight? 60 days<br>
    151. Why size classes? Compact,regular ,any<br>
    152. What green dot indicated in size class control<br>
    153. What is an extension point? sharing, Notification Center, and the iOS keyboard<br>
    an app that contains one or more extensions is called a containing app<br>
    154. If you override a method using category , u can’t call super method as we do in subclassing<br>
<pre>
    155. @dynamic
    #import <objc/runtime.h>
    void dynamicMethodIMP(id self, SEL _cmd) {
    // implementation ....
    }

    + (BOOL)resolveInstanceMethod:(SEL)aSEL
    {
    if (aSEL == @selector(resolveThisMethodDynamically)) {
    class_addMethod([self class], aSEL, (IMP) dynamicMethodIMP, "v@:");
    return YES;
    }
    </pre>
    <pre>
    156. about blocks
    void(^simpleBlock)(void)=^{
    //some print info
    };

    int anInteger = 42;

    void (^testBlock)(void) = ^{
    NSLog(@"Integer is: %i", anInteger);
    };

    anInteger = 84;

    testBlock();

    output is Integer is:42
    157.
    use __block Variables to Share Storage then out is 84
</pre>
    158. -	(void)beginTaskWithCallbackBlock:(void (^)(void))callbackBlock;<br>

    159. XYZBlockKeeper * __weak weakSelf = self;<br>

    160. #define DebugLog(...) NSLog(__VA_ARGS__)<br>
    161. What is the difference between storing data on the heap vs. on the stack?<br>
    162. What is the number 21 in binary format? And in hex<br>
    163. How do you find out if a number is a power of 2? And how do you know if it is an odd number?<br>
    164. Can you name the different tiers and responsibilities in an N-tier architecture?<br>
    165. Can you name any differences between object-oriented design and component-based design?<br>
    166. What do you care about most when reviewing somebody else’s code?<br>
    167. How can you changes already committed msg in git<br>
    168. Tell me scope of one of ur project worked for<br>






<pre>
    Read more: http://java67.blogspot.com/2012/12/difference-between-error-vs-exception.html#ixzz3yZFdGB5N
    .


    Search for 'iOS Interview Questions' in google and try to cover maximum

    •	Content view controllers manage a discrete piece of your app’s content and are the main type of view controller that you create.
    •	Container view controllers collect information from other view controllers (known as child view controllers) and present it in a way that facilitates navigation or presents the content of those view controllers differently.




    Source websites :

    http://www.techotopia.com
    http://nshipster.com/
    https://developer.apple.com/library/ios/navigation/
    https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ObjCRuntimeRef/index.html#//apple_ref/c/func/class_addMethod
    http://www.tutorialspoint.com/objective_c/index.htm


    Help
    https://www.interviewbit.com/
    http://www.programcreek.com/2012/11/top-10-algorithms-for-coding-interview/

    Learn Swift
    https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/Swift_Programming_Language/TypeCasting.html#//apple_ref/doc/uid/TP40014097-CH22-ID338


</pre>
</div>