<div class="container-fluid text-center panel-body h-text-align-left">
    Web Technologies Interview Questions<br>

    HTML<br>
    1.	Why Doctype?<br>
    2.	Is HTML case sensitive?<br>
    3.	What is the purpose of lang attribute?<br>
    4.	How do u comment html line <!--  --><br>
    5.	Conditional comments
<xmp>
    <!--[if IE 8]>
        .... some HTML here ....
    <![endif]-->
</xmp>
    6.	How to open a link in new tab/window<br>
    7.	What is the importance of viewport meta tag<br>
    8.	How to refresh a page for every 30sec<br>
    9.	What is the importance of semantic elements in html5?<br>
    10.	How to draw a circle using canvas?<br>
    11.	SVG stands for?<br>
    12.	What happens if already initialized var declared again?<br>

    CSS<br>
    1.	How to align an element vertical center like div inside div<br>
    2.	In how may ways we can style elements? Inline, Internal, External<br>
    3.	Difference bw padding and margin<br>

    JavaScript<br>
    1.	What is promise object<br>
    2.	Explain drag nd drop implementation<br>
    3.	What r call and apply methods and difference?<br>
    4.	JS function args r pass by value or pass by reference<br>
    5.	How to avoid not defined errors?<br>
    6.	What is dynamic typing?<br>
    7.	Diff bw === and == null===undefined and null==undefined<br>
    8.	How to create readonly property of an object<br>
    9.	How to check is array on an object?<br>
    10.	 “5”+2 = 52 , “5”-2 = 3<br>
    11.	What are different regular expression modifiers and methods?<br>
    12.	What is “use strict”<br>
    13.	How to delete a variable?<br>
    14.	var obj = {};<br>
    Object.defineProperty(obj, "x", {value:0, writable:false})<br>
    15.	JavaScript was invented by Brendan Eich in 1995, and became an ECMA standard in 1997.<br>
    ECMA-262 is the official name. ECMAScript 6 (released in June 2015)<br>
    16.	If you re-declare a JavaScript variable, it will not lose its value.<br>
    17.	10 square 10**2, 5 cube 5**3 Exponentiation ES6<br>
    18.	Data types : String, Number, Boolean, Array, Object, undefined.<br>
    19.	When adding a number and a string, JavaScript will treat the number as a string. 14+"usk" = 14usk<br>
    20.	typeof null = "object"<br>
    typeof undefined = "undefined"<br>

    21.	typeof [] = "object"<br>
    typeof {} = "object"<br>

    22.	Methods are stored in properties as function definitions. var obj = {prop:1, method: function(){}}<br>
    <pre>
    23.	var x = "John";
    var y = new String("John");
    typeof x = "string";
    typeof y = "object" ;
    ( x === y) is false
    </pre>
    24.	slice(start, end) ; substring(start, end) ; substr(start, length)<br>
    slice and substring are similar. The difference is that substring() cannot accept negative indexes.<br>
    25.	str = "abc here and abc there";<br>
    str.replace(/abc/g,"xyz")<br>
    retruns new string as "xyz here and xyz there"<br>
    26.	var text = "Hello" + " " + "World!";<br>
    var text = "Hello".concat(" ","World!");<br>
    both are same<br>
    27.	Accessing a String as an Array is Unsafe.<br>
    It does not work in all browsers (not in IE5, IE6, IE7)<br>
    28.	"abc".split('')<br>
    ["a", "b", "c"]<br>
    29.	var a = 4; a.toString(2) = 100 //Binary convrtion<br>
    30.	typeof Infinity = "number" , typeof NaN = "number"<br>
    31.	Does js supports associative arrays? Ans: no; Arrays with named indexes are called associative arrays (or hashes). js supports only number indexs 0,1,2 etc<br>
    32.	"use strict"; is to stop bad syntax . No global variable, no undeclared variables like x=5, can't assign value to non writable property, no duplicate arguments,<br>
    33.	var obj = {};<br>
    Object.defineProperty(obj, "x", {value:0, writable:false});<br>
    34.	array.splice(fromIndex to insert new elements, no of elements to remove, new element1, new element2 )<br>
    35.	array.slice( slice fromIndex, no of elements to slice)<br>
    <pre>
    36.	In JavaScript there are
    5 different data types that can contain values:
    string, number, boolean, object, function
    3 types of objects
    Object, Date, Array
    2 data types that can not contain values
    null, undefined
        </pre>
    37.	regular express method test() returns true/false ex:  /e/.test('hyderabad') o/p true<br>
    regular express method exec() returns value found ex: /ad/.exec('bad sad') o/p ['ad']<br>
    38.	hoisting : moving declarations to top but initializations<br>
    39.	switch case does strict comparison i.e ===<br>
    40.	null is for objects, undefined is for variables, properties, and methods<br>
    41.	use defer="true" in the script tag. script should be executed after the page has finished parsing, but it only works for external scripts.<br>
    42.	Objects are mutable: They are addressed by reference, not by value. But js variables are immutables.<br>
    43.	Methods are functions stored as object properties.<br>
    44.	prototype is an object. Every JavaScript object has a prototype.<br>
    45.	Person.location  location is prototype property of Person constructor.<br>
    p = new Person(); p.name  name is direct property of Person's object called p<br>
    46.	In inheritance , parent class constructor properties (i.e this.name ,this.age etc ) will become direct properties of child.<br>
    parent class prototype properties (i.e p is a function then p.prototype.location = india) will become direct properties of child's __proto__<br>
    47.	__proto__ holds parent class object.<br>
    48.	If u r going to use a function as a class then use function name as Person, Vehicle etc , else use name as normal function like showButton, getPersonDetails etc<br>
    49.	Function expression -> function (a, b) {return a * b};<br>
    50.	Function declaration -> function myFunction(a, b) {return a*b}<br>
    51.	Create function using constructor -> var myFun = new Function("a", "b", "console.log(a);return a * b");<br>
    <pre>
    52.	Function hoisting ->JavaScript functions can be called before they are declared:
    myFunction(5);
    function myFunction(y) {
        return y * y;
    }
    but Functions defined using an expression are not hoisted
    myFun(5);
    var myFun = function(y) {
        return y * y;
    }
</pre>
    <pre>
    53.	You can self invoke only function expression not function definition<br>
    (function(){console.log('hi');})() //works
    (function abc(){console.log('hi');})() // works
        </pre>

    54.	func1 = function(param1, param2){}; var arg1 =30, arg2 = 40; func1(arg1,arg2);<br>
    parameters are names listed in funciton definition . arguments are real values passed to function.<br>
    55.	func1.call( )akes list of arguments but apply array of arguments<br>
    56.	apply takes array as second argument , call takes function arguments separately. First argument is context i.e owner object. in strict mode owner object can be anything. but in non strict mode if owner obj is null or undefined then it will be replaced with global object .<br>
    <pre>
    57.	Private variables can be made possible with closures.
    A closure is a function having access to the parent scope, even after the parent function has closed.
    var Counter = (function(){
    var c = 0;
    return function(){ return c+=1;};
    })();
    Counter(); // out put 1
    Counter(); // out put 2
    Counter(); // out put 3
    Note: c is called a closure variable . c is a private variable.
                </pre>

    58.	"The W3C Document Object Model (DOM) is a platform and language-neutral interface that allows programs and scripts to dynamically access and update the content, structure, and style of a document."<br>
    59.	DOM is interface to delete, get, modify, add elements of a document<br>
    60.	document.referrer : returns the previous url i.e from where current page opened<br>
    61.	document.querySelectorAll("p.intro");<br>
    62.	<div class="portal" role="navigation" id="p-support" aria-labelledby="p-support-label"><br>
    document.querySelectorAll('div.portal#p-support[role="navigation"]');<br>
    63.	var timerId = setInterval(func, intervalTimeInMS); clearInterval(timerId);<br>
    64.	element.addEventListener(event, function, useCapture);<br>
    can add multiple call back funtions to same event using addEventListener<br>
    for ex onclick event = 'click'<br>
    65.	window.document is know as HTML DOM . Here window is BOM<br>
    66.	window.innerHeight, window.innerWidth window visible width height not including toolbars and scrollbars.<br>
    67.	screen.width, screen.height computer screen width, height<br>
    68.	setTimeout(func, execAfterMilliSeconds), setInterval(func, execEveryMilliseconds)<br>
    69.	function myFun(){ console.log('hello');} //function declaration<br>
    70.	var myFun = function(){console.log('hello');} // function expression<br>
    71.	var myFun = { func: function(){ console.log('hi'); }} is called regular (non-constructible) object<br>
    72.
<pre>
    ES6
    1.	An important difference between function declarations and class declarations is that function declarations are hoisted and class declarations are not
    2.	Since this is not bound in arrow functions, the call() or apply() methods can only pass in arguments; this is ignored:
    3.
    Features
    1.	What are diff ways to store client side data
    2.	What is application cache?
    3.	What is a web worker? How to update UI using web worker?
    4.	What is promise object?
    5.	What do you know about server sent events?
    TOOLS
    1.	How do you debug ?How do you find the first non lib method called for click interaction using chrome tools
    2.	How do run ur localhost app in ur mobile
    3.	How to skip debug step in to lib files

    ARCHITECHTURE
    1.	What is the diff bw responsive and adaptive
    2.	What is the diff bw single page and multi page app

    WEB SERVICES
    1.	Diff bw json and xml
    2.	Diff bw get and post
    3.	What is RESTful web service
    4.	What is CORS issue
    5.	How do you pass special characters in query params

    GENERAL
    1.	What is PI
    2.	What is aspect ratio
    3.	AB : A leading in AB
    BACKBONE
    1. Router decides view based on url

    ANGULAR
    1. angular js extends html
    2. u can directly use html as template language
    3. can write angular expressions directly inside html but js expressions can't be
    4. Angular js modules reduces the problem of global functions, by keeping all functions local to the module
    5. In AngularJS, $scope is the application object (the owner of application variables and functions).
    6. ng-model="firstName"  = {{ firstName }} == $scope.firstName
    7. ng-options vs ng-repeat
    ng-repeat : it just repeats the inner elements. When we use it on select element. The selected value is string. but by using ng-options if we create select dropdown then selected value can be object also.
    8. should be careful about variable names ambiguity problem
    <select ng-model="selectedCar">
    <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
    </select>

    <select ng-model="selectedCar" ng-options="x.model for x in cars">
    </select>
    9. $scope.$watch('passw1',function() {$scope.test();}); //watch passw1 variable of $scope
</pre>
<pre>
    Frameworks
    Backbone
    Angular
    Require
    Underscore
    JQuery
    Version Control
    Git
    Taking a specific commit from a branch and applying on other branch . Ans : cherrypick
    Svn
    Web Services
    RESTful
    Database
    MySql
    Mongodb
    Platform
    Browser
    Node

    Architecture
    MVC
    Orchestration
    Design Patterns
    Data Structures

    ReactJS
    ES6

    Test Cases
    Deployment


    ???????

    1. Everything about this keyword
    2. __proto__ and prototype

</pre>
</div>